extends ./_layout.pug

block content
    header
        h3 agqr-recorder
    div(class="content")
        each item in objects
            div(class="my-card mdl-card mdl-shadow--2dp")
                div(class="mdl-card__media")
                    img(src=item.thumbnail)
                div(class="mdl-card__supporting-text")
                    | #{item.date}
                    br
                    | #{item.title}
                div(class="mdl-card__actions mdl-card--border")
                    a(class="mdl-button mdl-js-button mdl-button--accent", href=item.video)
                        |play
                    a(class="mdl-button mdl-js-button mdl-button--primary", href=item.audio)
                        |audio only
