extends ./_layout.pug

block title
    title=title

block content
    div(class="my-player")
        |#{date}
        br
        |#{title}
        if type === 'video'
            video(src=stream, type="video/mp4", onclick="this.play()", controls)
        else
            audio(src=stream, type="audio/mp4", onclick="this.play()", controls)
